<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta name="author" content="Haokun Liu">
  <meta name="affiliation" content="The University of Chicago">
  <meta name="field-of-study" content="Computer Science, Natural Language Processing">
  <meta name="keywords" content="Haokun Liu, Haokun, Liu, University of Chicago, UChicago, Computer Science, NLP, Natural Language Processing, Machine Learning, Artificial Intelligence, Hypothesis Generation, Scientific Discovery, AI + Science, AI for Science, Complementary AI">
  <meta name="description" content="Haokun Liu's Homepage">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.github.url }}/assets/libs/bootstrap/bootstrap.min.css">
  <script defer src="{{ site.github.url }}/assets/libs/fontawesome/all.min.js"></script>
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/main.css">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.github.url }}/assets/apple-icon-152x152.png">
  <link rel="shortcut icon" href="{{ site.github.url }}/assets/favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
  {% seo %}
</head>
